.relative {
    position: relative;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .transition-transform {
    transition: transform 1s ease-in-out;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .w-full {
    width: 100%;
  }
  
  .h-64 {
    height: 16rem; /* Adjust the height as needed */
  }